.App {
  text-align: center;
  padding: 20px;
}

.collage {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.collage img {
  width: 100%;
  height: auto;  
}
